/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
body{
  font-family: 'Kalam', cursive;
  font-size: 1em;
  text-align: center;
}
