/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
body{
  font-family: 'Kalam', cursive;
  font-size: 1.5em;
  text-align: center;
}

table {
  font-family: "Yu Gothic", "MS PGothic", Ssans-serif;
  border-collapse: collapse;
  margin:0 auto;
  text-align:right;
}

td {
  border: 1px solid #ccc;
  padding: 0.25em 1em;
  background: #eee;
}
